<nav>
        <ul>
            <li><a href="./entrenamiento_01/actividad1/index.html">Actividad 1</a></li>
            <li><a href="./entrenamiento_01/actividad2/index.html">Actividad 2</a></li>
            <li><a href="./entrenamiento_01/actividad3/index.html">Actividad 3</a></li>
        </ul>
        <ul>
            <li><a href="./entrenamiento_02/modelo1/modelo1.html">Modelo 1</a></li>
            <li><a href="./entrenamiento_02/modelo2/modelo2.html">Modelo 2</a></li>
            <li><a href="./entrenamiento_02/modelo3/modelo3.html">Modelo 3</a></li>
            <li><a href="./entrenamiento_02/modelo4/modelo4.html">Modelo 4</a></li>
        </ul>
        <ul>
            <li><a href="./entrenamiento_03/ejercicio3/tablaPaises.html">Ejercicio 3</a></li>
        </ul>
    </nav>